<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/barra.css">
    <link rel="stylesheet" href="/static/css/mainAdmin.css">
    <title>PDF</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <a href="mainAdmin" class="enlace">
            <img src="/static/img/LOGO.png" alt="" class="logo">
        </a>
        <ul>
            <li><a href="listacafes">Inventario</a></li>
            <li><a class="active" href="pdf">Reportes</a></li>
            <li><a href="login">Cerrar sesión</a></li>
        </ul>
    </nav>
<section>
    <header>
        
    </header>
</section>
<br>
<button id="user-btn">Usuarios</button>
<br><br>
<button id="coffee-btn">Cafés</button>
<br><br>
<button id="sale-btn">Ventas</button>

<script>
    document.getElementById('user-btn').addEventListener('click', function(){
        window.location.href='/usuariosPdf';
    });

    document.getElementById('coffee-btn').addEventListener('click', function(){
        window.location.href='/cafesPdf';
    });

    document.getElementById('sale-btn').addEventListener('click', function(){
        window.location.href='/ventasPdf';
    });
</script>
</body>
<script>
    function checkToken(){
        const token  = localStorage.getItem('token')
        if(token){
            fetch(`/login?token=${token}`)
            .then(response => response.json())
            .then(data =>{
                console.log(data)
                if(data.message!="valid token"){
                    localStorage.removeItem('token')
                    window.location.href='/login'
                }
            }).catch(error =>{
                window.location.href='/login'
                console.log(error)
            })
        }else{
            window.location.href='/login'
        }
    }
</script>
</html>